name: Build & Release Go Binary (Official Only)

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write   # required only for release job

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build binaries
        run: |
          mkdir -p dist
          GOOS=linux GOARCH=amd64 go build -o dist/myapp cmd/deploy/*.go

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: myapp-linux-amd64
          path: dist/myapp
          retention-days: 7


  release:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      contents: write   # allow creating release + uploading assets

    steps:
      - name: Download binary artifact
        uses: actions/download-artifact@v4
        with:
          name: myapp-linux-amd64
          path: release

      - name: Release using softprops
        uses: softprops/action-gh-release@v2
        with:
          files: release/myapp
          body: "Automated release for ${{ github.ref_name }}"
          name: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
